/* ---------- layout ---------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearFix:after {
  clear: both;
  display: block;
  content: "";
  height: 0;
  line-height: 0;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: relative;
}

/* ---------- font ---------- */
.fz-small {
  font-size: 20px;
}

.fz-base {
  font-size: 24px;
}

.fz-large {
  font-size: 64px;
}

.f-style-normal {
  font-style: normal;
}

/* ---------- color ---------- */
.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

/* ---------- background ---------- */
.bg-black {
  background-color: #000;
}

/* ---------- others ---------- */
.ext-pos-center, .ext-has-pseudo-center::before, .ext-has-pseudo-center::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ext-bgi, .l-heroheader {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ext-has-pseudo, .ext-has-pseudo-center, .ext-has-pseudo-bgi {
  position: relative;
}

.ext-has-pseudo::before, .ext-has-pseudo-center::before, .ext-has-pseudo-bgi::before, .ext-has-pseudo::after, .ext-has-pseudo-center::after, .ext-has-pseudo-bgi::after {
  content: "";
  display: block;
}

.ext-has-pseudo-bgi::before, .ext-has-pseudo-bgi::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

/*
Roboto
    light: 300
    regular: 400
    medium: 500

Noto Sans TC
    light: 300
    regular: 400
    medium: 500

*/
body {
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.container {
  padding-top: 64px;
}

@media screen and (max-width: 769px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.l-heroheader {
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png);
  color: #fff;
}

.l-heroheader h1 {
  font-size: 80px;
  font-weight: 900;
}

.l-heroheader h1 .sub {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  display: block;
}

.l-heroheader .lead {
  margin-top: 32px;
  text-align: left;
  font-weight: 700;
  display: inline-block;
}

.l-heroheader .iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.l-heroheader .iconList .item {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.l-heroheader .iconList .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heading {
  font-size: 64px;
  font-weight: 500;
}

@media screen and (max-width: 769px) {
  .heading {
    font-size: 40px;
  }
}

.l-about {
  padding-bottom: 56px;
  font-weight: 700;
}

@media screen and (max-width: 769px) {
  .l-about {
    font-size: 20px;
  }
}

.l-about .avator {
  margin: 40px auto 0;
}

.l-about .info {
  margin-top: 24px;
}

.l-about .list {
  margin: 24px auto 0;
  border-top: 1px solid #000;
  max-width: 384px;
}

.l-about .list .item {
  margin-top: 32px;
  display: inline-block;
  padding-left: 16px;
  position: relative;
}

.l-about .list .item::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
}

.l-brand {
  overflow: hidden;
}

.l-brand .subtitle {
  margin-top: 16px;
}

.l-brand .subscription {
  margin-top: 32px;
  font-style: normal;
  font-size: 20px;
}

@media screen and (max-width: 769px) {
  .l-brand .subscription {
    font-size: 16px;
  }
}

.l-brand .photos {
  margin-top: 68px;
  padding-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 769px) {
  .l-brand .photos {
    padding-bottom: 80px;
  }
}

.l-brand .photos li {
  margin-top: 40px;
}

@media screen and (max-width: 769px) {
  .l-brand .photos li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.l-brand .photos li:first-child {
  margin-top: 0;
}

.l-brand .photos li:last-child {
  margin-left: auto;
}

.l-brand .photos img {
  width: 100%;
}

.l-otherWorks {
  overflow: hidden;
  padding-bottom: 160px;
}

@media screen and (max-width: 769px) {
  .l-otherWorks {
    padding-bottom: 80px;
  }
}

.l-otherWorks .subscription {
  margin-top: 24px;
  font-size: 20px;
  font-style: normal;
}

@media screen and (max-width: 769px) {
  .l-otherWorks .subscription {
    font-size: 16px;
  }
}

.l-otherWorks .works {
  margin-left: -12px;
  margin-right: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-otherWorks .works .item {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 56px;
}

.l-otherWorks .works .item:nth-child(1), .l-otherWorks .works .item:nth-child(2), .l-otherWorks .works .item:nth-child(3), .l-otherWorks .works .item:nth-child(6), .l-otherWorks .works .item:nth-child(7), .l-otherWorks .works .item:nth-child(8) {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

@media screen and (max-width: 769px) {
  .l-otherWorks .works .item:nth-child(1), .l-otherWorks .works .item:nth-child(2), .l-otherWorks .works .item:nth-child(3), .l-otherWorks .works .item:nth-child(6), .l-otherWorks .works .item:nth-child(7), .l-otherWorks .works .item:nth-child(8) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.l-otherWorks .works .item:nth-child(4), .l-otherWorks .works .item:nth-child(5) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 769px) {
  .l-otherWorks .works .item:nth-child(4), .l-otherWorks .works .item:nth-child(5) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.l-otherWorks .works .caption {
  margin-top: 16px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}

.l-otherWorks .works img {
  width: 100%;
}

.footer {
  padding: 64px 0 80px;
}

.footer a {
  color: #fff;
  position: relative;
}

@media screen and (max-width: 769px) {
  .footer a {
    font-size: 20px;
  }
}

.footer a:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.3em;
  content: "";
  border-bottom: 3px solid #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.footer a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.footer .item {
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */