$color-main: #891818;

$fz-giant: 80px;
$fz-large: 64px;
$fz-base: 24px;
$fz-small: 20px;

$fc-black: #000;
$fc-white: #fff;

$fw-black: 900; 
$fw-bold: 700; 
$fw-medium: 500; 
// $fw-regular: 400;
// $fw-light: 300;